{namespace k3d.template}

/**
 *
 */
{template .base}

  <div class="{css header}">
  </div>
  <div class="{css container}">
    <div class="{css child}">
    </div>
  </div>
{/template}

/**
 *
 */
{template .item}
  <div></div>
{/template}

/**
 *
 */
{template .test}
  <div class="{css container}">
    <div class="{css child}"></div>
  </div>
  <div id="logger"></div>
{/template}
